body {
  height: 100%;
  background-color: lightblue;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;

}

@font-face {
 
  font-family: 'CirrusCumulus';
  src: local('CirrusCumulus'), url(./fonts/CirrusCumulus.woff) format('woff');
  
}
.side-bar{
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  height: 100vh;
  display: flex;
  position: fixed;
  align-items: left;
  flex-direction: column;
  justify-content: space-around;
  background-color:  #19a2b8;
  
}

.sweet-loading{
  display: block;
  margin: 0 auto;
  border-color: red;
  justify-content: center;
}

.title{
  color: white;
  font-weight: bold;
}

h1{
  font-weight: bold;
  font-size: 40px;
  font-family: CirrusCumulus;
}

.location{
  color: #e8e04d;
  font-size: 60px;

}

.week{
  display: flex;
  justify-content: space-evenly;
  background-color: #e8e04d;
  color: white;
}



.day{
  height:300px;
  
}

.btn-info{
  height: 200px;
  font-size: 20px;
}
.btn:hover{
  background-color: #18bcd6;
  border-color: transparent;
}